@*@page*@
@*@model IdentityDemo.Models.AccountViewModels.ForgotPasswordConfirmationViewModel*@
@{
    ViewData["Title"] = "Thông báo xác nhận";
}

    <style >
    body {
        background: url("../../../images/default/bg-party.png");
        background-size: cover;
        background-position-y: center;
        background-position-x: center;
        background-repeat:no-repeat;
      display:flex;
      justify-content:center;
      align-items:center;
    }
    .body{
        text-align:center;
        font-size:3rem;
    }

</style>
<div class="body">
    <div>
        <h2>@ViewData["Title"]</h2>
    </div>
    <div>
        <p>
            Vui lòng vào email để xác nhận đổi mật khẩu
        </p>
    </div>
 
</div>

