<style>
    .selected {
        background-color: #dfebf5;
    }
</style>
<div style="display:flex;justify-content: end;margin-bottom: 10px;margin: 10px;" class="ng-scope">
    <div ng-click="submitGoAboard()" class="d-flex flex-column" style="align-items: center; gap: 5px;width:unset">
        <i class="fa fa-floppy-o fs-1" style="font-size: 25px;"></i> <span  style="font-size: x-small;">Lưu lại</span>
    </div>
</div>

<div class="mt-15" style="padding-left: 15px;">
    <form ng-validate="validationOptionsGoAboard" name="forms.GoAboard">
        <div class="form-group row">
            <div class="col-md-6">
                <div class="col-md-6 pr-0 pl-0">
                    <i class="fa fa-calendar" id="From" ng-click="openPopover9('From');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick" ng-if="selectedGoAboard && selectedGoAboard.Id"></i>
                    <i class="fa fa-calendar" id="From" ng-click="warningPopover3()"
                       ng-if="!selectedGoAboard || !selectedGoAboard.Id"></i>
                    <label class="displayInfo control-label require custom-title-code-bold">
                        Từ ngày
                    </label>
                </div>
                <div class="col-md-6 pr-0 pl-0">
                    <div class="br24 form-control custom-title-code-bold">
                        <i class="fa fa-info-circle " id="GoAboard-From" title="Popover Header" popover-placement="bottom-left" 
                           ng-click="handerClickIconChild9('goaboard','From');handleClick('GoAboard-From')"
                           uib-popover="Từ ngày: {{selectedGoAboard.From}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                        <input class="displayInfo" style="border: #FFFF;"
                               name="selectedGoAboardFrom" ng-model="selectedGoAboard.From"
                               type="text" placeholder="Từ ngày" monthOrDate="true" validateDateNow="true" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6 pr-0 pl-0">
                    <i class="fa fa-calendar" id="To" ng-click="openPopover9('To');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick" ng-if="selectedGoAboard && selectedGoAboard.Id"></i>
                    <i class="fa fa-calendar" id="To" ng-click="warningPopover3()"
                       ng-if="!selectedGoAboard || !selectedGoAboard.Id"></i>
                    <label class="displayInfo control-label require custom-title-code-bold">
                        Đến ngày
                    </label>
                </div>
                <div class="col-md-6 pr-0 pl-0">
                    <div class="br24 form-control custom-title-code-bold">
                        <i class="fa fa-info-circle " id="GoAboard-To" title="Popover Header" popover-placement="bottom-left"
                            ng-click="handerClickIconChild9('goaboard','To');handleClick('GoAboard-To')"
                           uib-popover="Đến ngày: {{selectedGoAboard.To}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                        <input class="displayInfo" style="border: #FFFF;"
                               name="selectedGoAboardTo" ng-model="selectedGoAboard.To"
                               type="text" placeholder="Đến ngày" monthOrDate="true" validateDateNow="true" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3 pr-0">
                <i class="fa fa-pencil-square-o" id="contact" ng-click="openPopover9('contact');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick" ng-if="selectedGoAboard && selectedGoAboard.Id"></i>
                <i class="fa fa-pencil-square-o" id="contact" ng-click="warningPopover3()"
                   ng-if="!selectedGoAboard || !selectedGoAboard.Id"></i>
                <label class="displayInfo control-label require custom-title-code-bold">
                    Nội dung đi
                </label>
            </div>
            <div class="col-md-9">
                <div class="br24 form-control custom-title-code-bold" style="white-space:nowrap">
                    <i class="fa fa-info-circle " id="contact" title="Popover Header" popover-placement="bottom-left"
                       ng-click="handerClickIconChild9('goaboard','contact');handleClick('contact')"
                       uib-popover="Nội dung đi: {{selectedGoAboard.Contact}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                    <input class="displayInfo" style="border: #FFFF;"
                           name="selectedGoAboardContact" ng-model="selectedGoAboard.Contact"
                           type="text" placeholder="Nội dung" />
                    <i class="fa fa-microphone" style="font-size: 20px;" voice-recognition
                       ng-model="selectedGoAboard.Contact"></i>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3 pr-0">
                <i class="fa fa-pencil-square-o" id="WhichCountry" ng-click="openPopover9('WhichCountry');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick" ng-if="selectedGoAboard && selectedGoAboard.Id"></i>
                <i class="fa fa-pencil-square-o" id="WhichCountry" ng-click="warningPopover3()"
                   ng-if="!selectedGoAboard || !selectedGoAboard.Id"></i>
                <label class="displayInfo control-label require custom-title-code-bold">
                    Nước nào
                </label>
            </div>
            <div class="col-md-9">
                <div class="br24 form-control custom-title-code-bold " style="white-space:nowrap">
                    <i class="fa fa-info-circle" id="WhichCountry" title="Popover Header" popover-placement="bottom-left"
                            ng-click="handerClickIconChild9('goaboard','WhichCountry');handleClick('WhichCountry')"
                       uib-popover="{{selectedGoAboard.Country}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                    <input class="displayInfo" style="border: #FFFF;"
                           name="selectedGoAboardCountry" ng-model="selectedGoAboard.Country" ng-change="filterCountry()"
                           type="text" placeholder="Nước nào" />
                    <i class="fa fa-microphone" style="font-size: 20px;" voice-recognition
                       ng-model="selectedGoAboard.Country"></i>
                    <ul class="autocomplete-list">
                        <li ng-repeat="item in FilterCountry" ng-click="SelectCountry(item)">
                            {{item}}
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="pull-right">
            <button class="btn" ng-click="addToGoAboard()" style="">

                <i class="fa fa-plus"></i>
                <span>Thêm</span>
            </button> <button class="btn m-1" ng-click="deleteSelectToGoAboard()" ng-class="{'selected': x.selected}" id="{{x.Id}}">
                <i class="fa-solid fa-rotate-right"></i>
                <span>Refresh</span>
            </button>
        </div>
        <div class="list-item">
            <table style="width: -webkit-fill-available; clear: both;">
                <tr>
                    <th>Từ ngày</th>
                    <th>Đến ngày</th>
                    <th>Nội dung đi</th>
                    <th>Đi nước nào</th>
                    <th>Xoá bỏ</th>
                </tr>
                <tr ng-repeat="x in GoAboard" ng-click="selectGoAboard(x)" ng-class="{'selected': x.selected}">
                    <td tr-child-tab row-id="x.Id" child-tab="goaboard" json-guide="jsonGuide" control-id="From" 
                                                check-load="checkGoAboardLoad">
                        {{x.From}}
                    </td>
                    <!--<td>{{x.From}}</td>-->
                    <td tr-child-tab row-id="x.Id" child-tab="goaboard" json-guide="jsonGuide" control-id="To" check-load="checkGoAboardLoad">
                        {{x.To}}
                    </td>
                    <!--<td>{{x.To}}</td>-->
                    <td tr-child-tab row-id="x.Id" child-tab="goaboard" json-guide="jsonGuide" control-id="contact" check-load="checkGoAboardLoad" >
                        {{x.Contact}}
                    </td>
                    <!--<td>{{x.Contact}}</td>-->
                <td tr-child-tab row-id="x.Id" child-tab="goaboard" json-guide="jsonGuide" control-id="WhichCountry" check-load="checkGoAboardLoad">
                    {{x.Country}}
                </td>
                    <!--<td>{{x.Country}}</td>-->
                    <td style="text-align:center">
                        <i style="color:red" class="fa fa-trash"
                           ng-click="deleteGoAboard($index)"></i>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>