<div style="display:flex;justify-content: end;margin-bottom: 10px;margin: 10px;" class="ng-scope">
    <div ng-click="submitGoAboard()">
        <i class="fa fa-floppy-o fs-1" style="font-size: 25px;"></i>
    </div>
</div>

<div class="mt-15" style="padding-left: 15px;">
<div class="form-group row">
    <div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
        <div class="col-md-4 pr-0" style="padding-left: 7px;">
            <i class="fa fa-calendar" id="From" ng-click="openPopover('From');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
            <label
                class="displayInfo control-label require custom-title-code-bold">
                Từ
                ngày
            </label>
        </div>
        <div class="col-md-8" style="display: flex; padding-left: 8px;">
            <div class="br24 form-control custom-title-code-bold">
                <i class="fa fa-info-circle icon-clickable" id="GoAboard-From" title="Popover Header" popover-placement="bottom-left"
                uib-popover="Từ ngày: {{selectedGoAboard.From}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                <input class="displayInfo" style="border: #FFFF;"
                    name="CusCode" ng-model="selectedGoAboard.From"
                    type="text" placeholder="Từ ngày" />
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
        <div class="col-md-4 pr-0">
            <i class="fa fa-calendar" id="To" ng-click="openPopover('To');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
            <label
                class="displayInfo control-label require custom-title-code-bold">
                Đến
                ngày
            </label>
        </div>
        <div class="col-md-8"
            style="display: flex; padding-right: 8px;">
            <div class="br24 form-control custom-title-code-bold">
                <i class="fa fa-info-circle icon-clickable" id="GoAboard-To" title="Popover Header" popover-placement="bottom-left"
                uib-popover="Đến ngày: {{selectedGoAboard.To}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                <input class="displayInfo" style="border: #FFFF;"
                    name="CusCode" ng-model="selectedGoAboard.To"
                    type="text" placeholder="Đến ngày" />
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-2 pr-0">
        <i class="fa fa-pencil-square-o" id="contact" ng-click="openPopover('contact');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
        <label
            class="displayInfo control-label require custom-title-code-bold">
            Nội
            dung
            đi
        </label>
    </div>
    <div class="col-md-10" style="display: flex;">
        <div class="br24 form-control custom-title-code-bold"  style="white-space:nowrap">
            <i class="fa fa-info-circle icon-clickable" id="contact" title="Popover Header" popover-placement="bottom-left"
            uib-popover="Nội dung đi: {{selectedGoAboard.Contact}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
            <input class="displayInfo" style="border: #FFFF;"
                   name="CusCode" ng-model="selectedGoAboard.Contact"
                   type="text" placeholder="Nội dung" />
            <i class="fa fa-microphone" style="font-size: 20px;" voice-recognition
               ng-model="selectedGoAboard.Contact"></i>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-2 pr-0">
        <i class="fa fa-pencil-square-o" id="WhichCountry" ng-click="openPopover('WhichCountry');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
        <label class="displayInfo control-label require custom-title-code-bold">
            Nước
            nào
        </label>
    </div>
    <div class="col-md-10" style="display: flex;">
        <div class="br24 form-control custom-title-code-bold "  style="white-space:nowrap">
            <i class="fa fa-info-circle icon-clickable" id="WhichCountry" title="Popover Header" popover-placement="bottom-left"
            uib-popover="{{selectedGoAboard.Country}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
            <input class="displayInfo" style="border: #FFFF;"
                   name="CusCode" ng-model="selectedGoAboard.Country" ng-change="filterCountry()"
                   type="text" placeholder="Nước nào" />
            <i class="fa fa-microphone" style="font-size: 20px;" voice-recognition
               ng-model="selectedGoAboard.Country"></i>
            <ul class="autocomplete-list">
                <li ng-repeat="item in FilterCountry" ng-click="SelectCountry(item)">
                    {{item}}
                </li>
            </ul>

        </div>
    </div>
</div>
<div class="pull-right">
    <button class="btn" ng-click="addToGoAboard()" style="">

        <i class="fa fa-plus"></i>
        <span>Thêm</span>
    </button> <button class="btn m-1" ng-click="deleteSelectToGoAboard()">
    <i class="fa-solid fa-rotate-right"></i>
    <span>Refresh</span>
</button>
</div>
<div class="list-item">
    <table style="width: -webkit-fill-available; clear: both;">
        <tr>
            <th>Từ ngày</th>
            <th>Đến ngày</th>
            <th>Nội dung đi</th>
            <th>Đi nước nào</th>
            <th>Xoá bỏ</th>
        </tr>
        <tr ng-repeat="x in GoAboard" ng-click="selectGoAboard(x)">
            <td>{{x.From}}</td>
            <td>{{x.To}}</td>
            <td>{{x.Contact}}</td>
            <td>{{x.Country}}</td>
            <td style="text-align:center">
                <i style="color:red" class="fa fa-trash"
                    ng-click="deleteGoAboard($index)"></i>
            </td>
        </tr>
    </table>
</div>
</div>