<div style="display:flex;justify-content: end;margin-bottom: 10px;margin: 10px;" class="ng-scope">
    <div ng-click="submitIntroducer()">
        <i class="fa fa-floppy-o fs-1" style="font-size: 25px;"></i>
    </div>
</div>
<div class="row mt-15" style="padding: 20px;font-size: 13px;">
    <div class="form-group row">
        <div class="col-md-4 pr-0">
            <i class="fa fa-user" id="personIntroduced" ng-click="openPopover('personIntroduced');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
            <label class="displayInfo control-label  custom-title-code-bold">Người giới
                thiệu</label>
        </div>
        <div class="col-md-8" style="display: flex;">
            <div class="br24 form-control custom-title-code-bold"  style="white-space:nowrap">
                <i class="fa fa-info-circle icon-clickable" id="personIntroduced" title="Popover Header" popover-placement="bottom-left"
                uib-popover="Từ ngày: {{Introducer.PersonIntroduced}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                <input class="displayInfo" style="border: #FFFF;" name="CusCode"
                       ng-model="Introducer.PersonIntroduced" type="text"
                       placeholder="Người giới thiệu" />
                <i class="fa fa-microphone" style="font-size: 20px;" voice-recognition
                   ng-model="Introducer.PersonIntroduced"></i>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 pr-0 ">
            <i class="fa fa-calendar" id="placeTimeJoinUnion" ng-click="openPopover('placeTimeJoinUnion');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
            <label class="displayInfo control-label  custom-title-code-bold">Ngày và nơi vào Đoàn</label>
        </div>
        <div class="col-md-8" style="display: flex;">
            <div class="br24 form-control custom-title-code-bold">
                <i class="fa fa-info-circle icon-clickable" id="placeTimeJoinUnion" title="Popover Header" popover-placement="bottom-left"
                uib-popover="Từ ngày: {{Introducer.PlaceTimeJoinUnion}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                <input class="displayInfo" style="border: #FFFF;" name="CusCode"
                    ng-model="Introducer.PlaceTimeJoinUnion" type="text"
                    placeholder="Ngày và nơi vào Đoàn" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 pr-0 ">
            <i class="fa fa-calendar" id="placeTimeJoinParty" ng-click="openPopover('placeTimeJoinParty');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
            <label class="displayInfo  custom-title-code-bold">Ngày và nơi vào Đảng lần thứ nhất</label>
        </div>
        <div class="col-md-8" style="display: flex;">
            <div class="br24 form-control custom-title-code-bold">
                <i class="fa fa-info-circle icon-clickable" id="placeTimeJoinParty" title="Popover Header" popover-placement="bottom-left"
                uib-popover="Từ ngày: {{Introducer.PlaceTimeJoinParty}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                <input class="displayInfo" style="border: #FFFF;" name="CusCode"
                    ng-model="Introducer.PlaceTimeJoinParty" type="text"
                    placeholder="Ngày và nơi vào Đảng lần thứ nhất" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 pr-0 ">
            <i class="fa fa-calendar" id="placeTimeRecognize" ng-click="openPopover('placeTimeRecognize');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
            <label class="displayInfo  custom-title-code-bold">Ngày và nơi công nhận chính thức lần thứ nhất</label>
        </div>
        <div class="col-md-8" style="display: flex;">
            <div class="br24 form-control custom-title-code-bold">
                <i class="fa fa-info-circle icon-clickable" id="placeTimeRecognize" title="Popover Header" popover-placement="bottom-left"
                uib-popover="Từ ngày: {{Introducer.PlaceTimeRecognize}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                <input class="displayInfo" style="border: #FFFF;" name="CusCode"
                    ng-model="Introducer.PlaceTimeRecognize" type="text"
                    placeholder="Ngày và nơi công nhận chính thức lần thứ nhất" />
            </div>
        </div>
    </div>
    
</div>