<style>
    .table-wrapper {
        max-width: 100%;
        overflow-x: auto;
    }

    .table-wrapper .list-item {
        min-width: 100%;
        /* Ensure table occupies full width */
    }

    /* Optional: Style the scrollbar */
    .table-wrapper::-webkit-scrollbar {
        height: 10px;
    }

    .table-wrapper::-webkit-scrollbar-thumb {
        background: #888;
    }
</style>
<div class="" style="padding-left: 20px; font-size: 13px;">
    <div style="display:flex ; justify-content:end;margin:10px">
        <div ng-click="submitPersonalHistorys()" class="d-flex flex-column" style="align-items: center; gap: 5px;width:unset">
            <i class="fa fa-floppy-o fs-1" style="font-size: 25px;"></i> <span  style="font-size: x-small;">Lưu lại</span>
        </div>
    </div>
</div>
<div class="mt-15" style="padding-left: 15px;">
    <div class="form-group row">
        <form ng-validate="validationOptionsPersonalHistory" name="forms.personalHis">
            <div class="form-group row">
                <div class="col-md-6" >
                    <div class="col-md-6 pr-0 pl-0" >
                        <i class="fa fa-calendar" id="startDate" ng-click="openPopover4('startDate');"
                           uib-popover-template="'popoverTemplate.html'" popover-placement="right"
                           popover-trigger="outsideClick"></i>
                        <label class="displayInfo control-label require custom-title-code-bold">
                            Từ
                            ngày
                        </label>
                    </div>
                    <div class="col-md-6 pr-0 pl-0">
                        <div class="br24 form-control custom-title-code-bold">
                            <i class="fa fa-info-circle icon-clickable" id="PersonHistory-From" title="Popover Header"
                               popover-placement="bottom-left"
                               ng-click="handerClickIconChild('history','startDate')"
                               uib-popover="Từ ngày: {{selectedPersonHistory.Begin}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}"
                               popover-trigger="outsideClick"></i>

                            <input class="displayInfo" style="border: #FFFF;" ng-model="selectedPersonHistory.Begin" type="text" name="selectedPersonHistoryBegin"
                                   placeholder="Từ ngày" ng-change="changeHistory()" monthOrDate="true" validateDateNow="true" />
                        </div>
                        <!--ng-click="handerClickIconChild1('history','startDate')"-->
                    </div>
                </div>
                <div class="col-md-6 " >
                    <div class="col-md-6 pr-0 pl-0">
                        <i class="fa fa-calendar" id="endDate" ng-click="openPopover4('endDate');"
                           uib-popover-template="'popoverTemplate.html'" popover-placement="right"
                           popover-trigger="outsideClick"></i>
                        <label class="displayInfo control-label require custom-title-code-bold">
                            Đến
                            ngày
                        </label>
                    </div>
                    <div class="col-md-6 pr-0 pl-0" >
                        <div class="br24 form-control custom-title-code-bold">
                            <i class="fa fa-info-circle icon-clickable" id="PersonHistory-To" title="Popover Header"
                               popover-placement="bottom-left"
                               uib-popover="Đến ngày: {{selectedPersonHistory.End}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}"
                               popover-trigger="outsideClick"></i>
                            <input class="displayInfo" style="border: #FFFF;" ng-model="selectedPersonHistory.End" type="text" name="selectedPersonHistoryEnd"
                                   placeholder="Đến ngày" monthOrDate="true" validateDateNow="true"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3 pr-0">
                    <i class="fa fa-pencil-square-o" id="content" ng-click="openPopover4('content');"
                       uib-popover-template="'popoverTemplate.html'" popover-placement="right"
                       popover-trigger="outsideClick"></i>
                    <label class="displayInfo control-label require custom-title-code-bold" ng-if="PersonHistoryType!=1&&PersonHistoryType!=2&&PersonHistoryType!=3">{{"Nội dung"}}</label>
                    <label class="displayInfo control-label require custom-title-code-bold" ng-if="PersonHistoryType==1||PersonHistoryType==2||PersonHistoryType==3">{{"Tại chi bộ"}}</label>

                </div>
                <div class="col-md-9">
                    <div class="br24 form-control custom-title-code-bold" style="white-space:nowrap">
                        <i class="fa fa-info-circle icon-clickable" id="PersonHistory-content" title="Popover Header"
                           popover-placement="bottom-left"
                           uib-popover="Nội dung: {{selectedPersonHistory.Content}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}"
                           popover-trigger="outsideClick"></i>
                        <input class="displayInfo" style="border: #FFFF;" ng-model="selectedPersonHistory.Content" type="text" name="selectedPersonHistoryContent"
                               placeholder="Nội dung" />
                        <i class="fa fa-microphone" style="font-size: 20px;" voice-recognition
                           ng-model="selectedPersonHistory.Content"></i>
                    </div>
                </div>
            </div>
            <!--<div class="form-group row">
                <div class="col-md-2 pr-0">
                    <i class="fa fa-pencil-square-o" id="PersonHistory-content" ng-click="openPopover('content');"
                       uib-popover-template="'popoverTemplate.html'" popover-placement="right"
                       popover-trigger="outsideClick"></i>
                    <label class="displayInfo control-label require custom-title-code-bold">Loại lịch sử</label>
                </div>
                <div class="col-md-10" style="display: flex;">
                    <div class="br24 form-control custom-title-code-bold d-flex" style="white-space:nowrap">
                        <i class="fa fa-info-circle icon-clickable" id="PersonHistory-Type" title="Popover Header"
                           popover-placement="bottom-left"
                           uib-popover="Nội dung: {{selectedPersonHistory.Content}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}"
                           popover-trigger="outsideClick"
                           style="vertical-align: 7px; display: flex; align-items: center;"></i>
                        <ui-select ng-model="PersonHistoryType" theme="bootstrap" class="displayInfo"
                                   on-select="changeSelectType($select.selected)"
                                   style="border: none; height: 24.5px; display: inline-block;">
                            <ui-select-match placeholder="Loại lịch sử"
                                             style="height:24.5px">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in listType | filter: $select.search">
                                <div>{{x.Name}}</div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>-->


            <div class="pull-right">
                <button class="btn" ng-click="addToPersonalHistory()" style="">
                    <i class="fa fa-plus"></i>
                    <span>Thêm</span>
                </button>
                <button class="btn m-1" ng-click="deleteselectPersonHistory()">
                    <i class="fa-solid fa-rotate-right"></i>
                    <span>Refresh</span>
                </button>
            </div>
        </form>
    </div>

    <div class="table-wrapper">
        <div class="list-item">
            <table style="width:100%">
                <tr style="font-weight: bold;">
                    <th>Từ ngày</th>
                    <th>Đến ngày</th>
                    <th>Nội dung, Tại chi bộ</th>
                   <!-- <th>Phân loại</th>-->
                    <th>Xoá bỏ</th>
                </tr>
                <tr ng-repeat="x in PersonalHistory" ng-click="selectPersonHistory(x)" ng-class="{'selected': x.selected}" id="{{x.Id}}">
                    <td>{{x.Begin}}</td>
                    <td>{{x.End}}</td>
                    <td>
                        <span ng-if="x.Type==1||x.Type==2||x.Type==3">Tại chi bộ:</span>{{x.Content}}
                    </td>
                    <!--<td>
                        <span ng-if="x.Type == '0'||x.Type==null||x.Type==''">Chưa phân loại</span>
                        <span ng-if="x.Type == '1'">Bị xóa tên trong danh sách đảng viên</span>
                        <span ng-if="x.Type == '2'">Được kết nạp lại vào Đảng lần 2</span>
                        <span ng-if="x.Type == '3'">Được khôi phục đảng tịch</span>
                        <span ng-if="x.Type == '4'">Bị xử lý theo pháp luật</span>
                        <span ng-if="x.Type == '5'">Làm việc trong chế độ cũ</span>
                    </td>-->
                    <td style="text-align:center">
                        <i style="color:red" class="fa fa-trash" ng-click="deletePesonalHistory($index)"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>