<div class="d-flex">
    <div class="w4 form-group" ng-class="{ 'has-error': errorProvince}">
        <ui-select class="p0 br-24" ng-model="model.tinh_id" theme="bootstrap" class="displayInfo"
                   ng-change="onItemSelect($select.selected,'tinh')" style="border: none; height: 24.5px;width:100%;">
            <ui-select-match class="br-24 ovf-hidden" style="height:24.5px"
                             placeholder="Chọn tỉnh">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="x.provinceId as x in provinces | filter: $select.search">
                <div>{{x.name}}</div>
            </ui-select-choices>
        </ui-select>
        <span ng-show="errorProvince" class="label-color validation-message fs9">
            {{'Vui lòng chọn tỉnh' | translate}}
        </span>
    </div>
    <div class="w4 form-group" ng-class="{ 'has-error': errorDistrict}">
        <ui-select class="p0 br-24" ng-model="model.huyen_id" theme="bootstrap" class="displayInfo"
                   ng-change="onItemSelect($select.selected,'huyen')" style="border: none; height: 24.5px;width:100%;">
            <ui-select-match class="br-24 ovf-hidden" style="height:24.5px"
                             placeholder="Chọn huyện">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="x.districtId as x in ditrict | filter: $select.search">
                <div>{{x.name}}</div>
            </ui-select-choices>
        </ui-select>
        <span ng-show="errorDistrict" class="label-color validation-message fs9">
            {{'Vui lòng chọn huyện' | translate}}
        </span>
    </div>
    <div class="w4 form-group" ng-class="{ 'has-error': errorWard}">
        <ui-select class="p0 br-24 displayInfo" ng-model="model.xaPhuong_id" theme="bootstrap"
                    ng-change="onItemSelect($select.selected,'xa')" style="border: none; height: 24.5px;width:100%;">
            <ui-select-match class="br-24 ovf-hidden" style="height:24.5px"
                             placeholder="Chọn xã phường">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="x.wardsId as x in Ward | filter: $select.search">
                <div>{{x.name}}</div>
            </ui-select-choices>
        </ui-select>
        <span ng-show="errorWard" class="label-color validation-message fs9">
            {{'Vui lòng chọn xã' | translate}}
        </span>
    </div>
</div>


<style>
    .ui-select-toggle {
        margin: 0
    }
    .error-messages {
        position: absolute;
        z-index: 1000;
        top: 30px;
        left: 17px;
    }
</style>