<div style="display:flex;justify-content: end;margin-bottom: 10px;margin: 10px;" class="ng-scope">
    <div ng-click="submitTrainingCertificatedPass()">
        <i class="fa fa-floppy-o fs-1" style="font-size: 25px;"></i>
    </div>
</div>
<div class="mt-15" style="padding-left: 15px;" >
    <div class="form-group row">
        <div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
            <div class="col-md-4 pr-0" style="padding-left: 7px;">
                <i class="fa fa-calendar" id="from" ng-click="openPopover('from');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
                <label class="displayInfo control-label require custom-title-code-bold">
                    Từ
                    ngày
                </label>
            </div>
            <div class="col-md-8" style="display: flex; padding-left: 8px;">
                <div class="br24 form-control custom-title-code-bold">
                    <i class="fa fa-info-circle icon-clickable" id="from" title="Popover Header" popover-placement="bottom-left"
                    uib-popover="Từ ngày: {{selectedTrainingCertificatedPass.From}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                    <input class="displayInfo" style="border: #FFFF;" name="CusCode"
                        ng-model="selectedTrainingCertificatedPass.From" type="text" placeholder="Từ ngày" />
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
            <div class="col-md-4 pr-0">
                <i class="fa fa-calendar" id="to" ng-click="openPopover('to');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
                <label class="displayInfo control-label require custom-title-code-bold">
                    Đến
                    ngày
                </label>
            </div>
            <div class="col-md-8" style="display: flex; padding-right: 8px;">
                <div class="br24 form-control custom-title-code-bold">
                    <i class="fa fa-info-circle icon-clickable" id="to" title="Popover Header" popover-placement="bottom-left"
                    uib-popover="Từ ngày: {{selectedTrainingCertificatedPass.To}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                    <input class="displayInfo" style="border: #FFFF;" name="CusCode"
                        ng-model="selectedTrainingCertificatedPass.To" type="text" placeholder="Đến ngày" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2 pr-0">
            <i class="fa fa-pencil-square-o" id="schoolName" ng-click="openPopover('schoolName');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
            <label class="displayInfo control-label require custom-title-code-bold">
                Tên
                trường
            </label>
        </div>
        <div class="col-md-10" style="display: flex;">
            <div class="br24 form-control custom-title-code-bold"  style="white-space:nowrap">
                <i class="fa fa-info-circle icon-clickable" id="schoolName" title="Popover Header" popover-placement="bottom-left"
                uib-popover="Từ ngày: {{selectedTrainingCertificatedPass.SchoolName}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                <input class="displayInfo" style="border: #FFFF;" name="CusCode"
                       ng-model="selectedTrainingCertificatedPass.SchoolName" type="text" placeholder="Tên trường" />
                <i class="fa fa-microphone" style="font-size: 20px;" voice-recognition
                   ng-model="selectedTrainingCertificatedPass.SchoolName"></i>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2 pr-0">
            <i class="fa fa-pencil-square-o" id="class" ng-click="openPopover('class');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
            <label class="displayInfo control-label require custom-title-code-bold">
                Ngành
                học hoặc tên lớp học
            </label>
        </div>
        <div class="col-md-10" style="display: flex;">
            <div class="br24 form-control custom-title-code-bold"  style="white-space:nowrap">
                <i class="fa fa-info-circle icon-clickable" id="class" title="Popover Header" popover-placement="bottom-left"
                uib-popover="Từ ngày: {{selectedTrainingCertificatedPass.Class}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                <input class="displayInfo" style="border: #FFFF;" name="CusCode"
                       ng-model="selectedTrainingCertificatedPass.Class" type="text" placeholder="Ngành học" />
                <i class="fa fa-microphone" style="font-size: 20px;" voice-recognition
                   ng-model="selectedTrainingCertificatedPass.Class"></i>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2 pr-0">
            <i class="fa fa-pencil-square-o" id="certificate" ng-click="openPopover('certificate');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
            <label class="displayInfo control-label require custom-title-code-bold">
                Văn
                bằng
                chứng chỉ
            </label>
        </div>
        <div class="col-md-10" style="display: flex;">
            <div class="br24 form-control custom-title-code-bold">
                <i class="fa fa-info-circle icon-clickable" id="certificate" title="Popover Header" popover-placement="bottom-left"
                uib-popover="Từ ngày: {{selectedTrainingCertificatedPass.Certificate}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>

                <input class="displayInfo" style="border: #FFFF;" name="CusCode"
                       ng-model="selectedTrainingCertificatedPass.Certificate" type="text"
                       placeholder="Văn bằng chứng chỉ" />
                <i class="fa fa-microphone" style="font-size: 20px;" voice-recognition
                   ng-model="selectedTrainingCertificatedPass.Certificate"></i>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <button class="btn" ng-click="addToTrainingCertificatedPass()" style="">

            <i class="fa fa-plus"></i>
            <span>Thêm</span>
        </button>
        <!-- <button class="btn" ng-click="updateTrainingCertificatedPass()" style="color:#0dcaf0">
<i class="fa fa-plus"></i>
<span>Sửa</span>
</button> -->
    </div>
    <div class="list-item">
        <table>
            <tr>
                <th>Từ ngày</th>
                <th>Đến ngày</th>
                <th>Tên trường</th>
                <th>Ngành học hoặc tên lớp học</th>
                <th>Văn bằng chứng chỉ</th>
                <th>Xoá bỏ</th>
            </tr>
            <tr ng-repeat="x in PassedTrainingClasses" ng-click="selectTrainingCertificatedPass(x)">
                <td>{{x.From}}</td>
                <td>{{x.To}}</td>
                <td>{{x.SchoolName}}</td>
                <td>{{x.Class}}</td>
                <td>{{x.Certificate}}</td>
                <td style="text-align:center">
                    <i style="color:red" class="fa fa-trash" ng-click="deleteTrainingCertificatedPass($index)"></i>
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/ng-template" id="popoverTemplate.html">
    <div class="custom-popover-content">
        <label class="control-label" for="inputName" style="padding-right: 5px">{{popoverLabel}}</label>
        <i class="fa fa-microphone" voice-recognition style="padding-right: 85px"></i>
        <i class="fa fa-floppy-o custom-popover-icon" ng-click="submit()"></i>
        <textarea class="form-control" ng-model="pp.comment" id="inputName" placeholder="Nhập comment" popover-placement="bottom" uib-popover="{{matchedItemss[0].comment}}"></textarea>
    </div>
</script>

<!-- JavaScript Bootstrap từ CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>