<div style="display:flex;justify-content: end;margin-bottom: 10px;margin: 10px;" class="ng-scope">
    <div ng-click="submitBusinessNDuty()">
        <i class="fa fa-floppy-o fs-1" style="font-size: 25px;"></i>
    </div>
</div>
<div class="mt-15" style="padding-left: 15px;">
    <div class="form-group row">
        <div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
            <div class="col-md-4 pr-0" style="padding-left: 7px;">
                <i class="fa fa-calendar" id="from" ng-click="openPopover('from');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
                <label class="displayInfo control-label require custom-title-code-bold">
                    Từ
                    ngày
                </label>
            </div>
            <div class="col-md-8" style="display: flex; padding-left: 8px;">
                <div class="br24 form-control custom-title-code-bold">
                    <i class="fa fa-info-circle icon-clickable" id="from" title="Popover Header" popover-placement="bottom-left"
                    uib-popover="Từ ngày: {{selectedWorkingTracking.From}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                    <input class="displayInfo" style="border: #FFFF;" name="CusCode"
                           ng-model="selectedWorkingTracking.From" type="text"
                           placeholder="Từ ngày" />
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
            <div class="col-md-4 pr-0">
                <i class="fa fa-calendar" id="to" ng-click="openPopover('to');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
                <label class="displayInfo control-label require custom-title-code-bold">
                    Đến
                    ngày
                </label>
            </div>
            <div class="col-md-8" style="display: flex; padding-right: 8px;">
                <div class="br24 form-control custom-title-code-bold">
                    <i class="fa fa-info-circle icon-clickable" id="to" title="Popover Header" popover-placement="bottom-left"
                    uib-popover="Từ ngày: {{selectedWorkingTracking.To}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                    <input class="displayInfo" style="border: #FFFF;" name="CusCode"
                           ng-model="selectedWorkingTracking.To" type="text"
                           placeholder="Đến ngày" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2 pr-0">
            <i class="fa fa-pencil-square-o" id="work" ng-click="openPopover('work');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
            <label class="displayInfo control-label require custom-title-code-bold">
                Nội
                dung
            </label>
        </div>
        <div class="col-md-10" style="display: flex;">

            

            <div class="br24 form-control custom-title-code-bold">
                <i class="fa fa-info-circle icon-clickable" id="work" title="Popover Header" popover-placement="bottom-left"
                uib-popover="Từ ngày: {{selectedWorkingTracking.Work}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                <input class="displayInfo" style="border: #FFFF;" name="CusCode"
                       ng-model="selectedWorkingTracking.Work" type="text"
                       placeholder="Nội dung" />
                <i class="fa fa-microphone" style="font-size: 20px;" voice-recognition
                   ng-model="selectedWorkingTracking.Work"></i>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2 pr-0">
            <i class="fa fa-pencil-square-o" id="role" ng-click="openPopover('role');" uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="outsideClick"></i>
            <label class="displayInfo control-label require custom-title-code-bold">
                Chức
                vụ
            </label>
        </div>
        <div class="col-md-10" style="display: flex;">
            <div class="br24 form-control custom-title-code-bold">
                <i class="fa fa-info-circle icon-clickable" id="role" title="Popover Header" popover-placement="bottom-left"
                uib-popover="Từ ngày: {{selectedWorkingTracking.Role}}. {{matchedItems[0].guide}}. Lưu ý: {{matchedItemss[0].comment}}" popover-trigger="outsideClick"></i>
                <input class="displayInfo" style="border: #FFFF;" name="CusCode" ng-model="selectedWorkingTracking.Role" type="text" placeholder="Chức vụ" />
                <i class="fa fa-microphone" style="font-size: 20px;" voice-recognition
                   ng-model="selectedWorkingTracking.Role"></i>
            </div>
</div>
</div>
<div class="pull-right">
<button class="btn" ng-click="addToBusinessNDuty()" style="">

<i class="fa fa-plus" ></i>
<span>Thêm</span>
</button>
</div>
<div class="list-item">
<table>
<tr>
<th>Từ ngày</th>
<th>Đến ngày</th>
<th>Nội dung</th>
<th>Chức vụ</th>
<th>Xoá bỏ</th>
</tr>
<tr ng-repeat="x in BusinessNDuty" ng-click="selectWorkingTracking(x)">
<td>{{x.From}}</td>
<td>{{x.To}}</td>
<td>{{x.Work}}</td>
<td>{{x.Role}}</td>
<td style="text-align:center">
<i style="color:red" class="fa fa-trash" ng-click="deleteWorkingTracking($index)"></i>
</td>
</tr>
</table>
</div>
</div>
<script type="text/ng-template" id="popoverTemplate.html">
    <div class="custom-popover-content">
        <label class="control-label" for="inputName" style="padding-right: 5px">{{popoverLabel}}</label>
        <i class="fa fa-microphone" voice-recognition style="padding-right: 85px"></i>
        <i class="fa fa-floppy-o custom-popover-icon" ng-click="submit()"></i>
        <textarea class="form-control" ng-model="pp.comment" id="inputName" placeholder="Nhập comment" popover-placement="bottom" uib-popover="{{matchedItemss[0].comment}}"></textarea>
    </div>
</script>

<!-- JavaScript Bootstrap từ CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>