<style>
    .input-with-clear-btn {
        padding-right: 30px;
    }

        .input-with-clear-btn::after {
            content: "×";
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: #999;
        }

            .input-with-clear-btn::after:hover {
                color: #333;
            }

    .btn-in {
        background-color: #28a745;
        color: #fff;
    }

    .btn-out {
        background-color: #dc3545;
        color: #fff;
    }

    .btn-ca1 {
        background-color: #007bff;
        color: #fff;
    }

    button:hover {
        opacity: 0.8;
    }

    .camera-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url('path/to/your-camera-icon.png');
        background-size: cover;
        background-color: #007bff;
    }

    .activity-menu {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
    }
</style>
<div class="" >
    <h2 style="text-align:center;"><u>{{'Công đoạn cán tôn'}}</u></h2>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group col-sm-6">
                <label>Lệnh sản xuất</label>
                <div class="input-group-nobtn br24">
                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.Type" theme="bootstrap">
                        <ui-select-match placeholder="{{'Tùy chọn'}}..."><b
                                class="bold">#{{$select.selected.Name}}:</b><b>
                                {{$select.selected.Name}}</b></ui-select-match>
                        <ui-select-choices repeat="x.Code as x in ListOption | filter: $select.search">
                            #{{x.Code}}: {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-sm-6 pt20">
                <button class="btn-in btn btn-primary">IN</button>
                <button class="btn-out btn btn-danger">OUT</button>
                <button class="btn-ca1 btn btn-success">CA 1</button>
                <button class="btn-ca1 btn btn-success"><i class="fa-solid fa-camera"></i></button>
            </div>
        </div>
        <div class="col-md-6 pt20">
            <div class="form-group">
                <div class="input-group br24">
                    <input ng-model="model.Date" class="form-control ng-pristine ng-valid ng-empty ng-touched" id="datetimepicker" type="text" placeholder="Chọn ngày..." ng-keydown="($event.keyCode == 13) &amp;&amp; reload()">
                    <span class="input-group-btn">
                      <button type="button" ng-click="model.Date=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                    </span>
                  </div>
            </div>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Column 1</th>
                    <th scope="col">Column 2</th>
                    <th scope="col">Column 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 3</td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
<script>
    $(document).ready(function () {
        $('.datetimepicker').datetimepicker();
    });
</script>