<style>
    .btn-container {
            display: inline-block;
    }

    .btn-container button {
        width: 30px;
        height: 30px;
        background-color: #f0f0f0; 
        border: none;
        border-radius: 20%; 
        margin: 5px;
        cursor: pointer;
        
    }

    .btn-container button:hover {
        background-color: #ccc; 
    }

    #numberInput {
        width: 30px;
        height: 30px;
        color: #1d13eb;
        text-align: center;
        border: none;
    }

    .btn-in {
        background-color: #28a745;
        color: #fff;
    }

    .btn-out {
        background-color: #dc3545;
        color: #fff;
    }

    .btn-ca1 {
        background-color: #007bff;
        color: #fff;
    }

    .camera-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-size: cover;
        background-color: #007bff;
    }
    .tab {
        overflow-x: auto;
        white-space: nowrap; 
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        margin-top: 20px;
        display: flex; 
        justify-content: left; 
    }

    .tab button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        white-space: nowrap;
        border-radius: 10px; 
    }

    .tab button:hover {
        background-color: #ddd; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .tab button.active {
        background-color: #ccc;
    }

    .tabcontent {
        display: none;
        padding: 20px;
        border-top: none;
        text-align: center; 
    }

    table {
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        margin-top: 20px; 
    }

    th, td {
        border: 1px solid #ddd; 
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #d7e7ff;
        font-weight: bold; 
        color: rgb(34, 47, 227);
    }
    
    #inputValue{
        border-radius: 25px; 
        width: 40%;
        box-sizing: border-box;
        padding: 5px;
        text-align: center;
    }
</style>
<div>
    <h2 style="text-align:center; font-size: 30px !important"><u>{{'CÔNG ĐOẠN '+ActIns.Title}}</u></h2>
    
    <div class="row">
        <div class="col-md-8">
            <div class="form-group col-sm-4">
                <label>Lệnh sản xuất</label>
                <div class="input-group-nobtn br24-nobtn">
                    <ui-select ng-model="WareHouseProductionHeader" theme="bootstrap">
                        <ui-select-match placeholder="{{'Tùy chọn'}}..."><b
                                class="bold">#{{$select.selected.Id}}:</b><b>
                                {{$select.selected.TicketCode}}</b></ui-select-match>
                        <ui-select-choices repeat="x.TicketCode as x in ListHd | filter: $select.search">
                            #{{x.Id}}: {{x.TicketCode}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="btn-container form-group col-sm-4" style="margin-top: 20px;">
                <label>Phiên: </label>
                <button onclick="decrease()">-</button>
                <input type="number" id="numberInput" value="0" />
                <button onclick="increase()" style="margin-left:-5px">+</button>
            </div>
            <div class="col-sm-4 pt20" style="left: 300px">
                <button class="btn-in btn btn-primary" ng-click="output()"><b>IN</b></button>
                <button class="btn-out btn btn-danger" ng-click="output()"><b>OUT</b></button>
                <button class="btn-ca1 btn btn-success"><i class="fa-solid fa-camera"></i></button>
            </div>
        </div>
        <div class="col-md-4 pt20">
            <div style="display:flex;float:right">
                <div ng-click="submit()">
                    <i class="fa fa-floppy-o fs-1" style="font-size: 35px; padding-top:10px"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="tab">
        <button class="tablinks active" id="NhapLieu" onclick="openTab('NhapLieu')">Nhập liệu</button>
        <button class="tablinks" id="CapNhat" onclick="openTab('CapNhat')">Cập nhật</button>
        <button class="tablinks" id="VatTu" onclick="openTab('VatTu')">Vật tư trên thuyền</button>
    </div>
    
    <div id="NhapLieu" class="tabcontent">
        <table>
            <thead>
                <tr>
                    <th>Tên hạng mục</th>
                    <th style="width: 40%;">Giá trị</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in GroupAttr">
                    <td>{{$index+1|threeDigitString}}. {{item.Name}} ({{item.Unit}})</td>
                    <td><input type="number" ng-model="bomDataModel.ListBom[$index].Quantity" value="0" id="inputValue"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div id="CapNhat" class="tabcontent">
        <table>
            <thead>
                <tr>
                    <th>Tên hạng mục</th>
                    <th style="width: 40%;">Giá trị</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in GroupAttr">
                    <td>{{$index+1|threeDigitString}}. {{item.Name}} ({{item.Unit}})</td>
                    <td><input type="number" ng-model="bomDataModel.ListBom[$index].Quantity" value="0" id="inputValue"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div id="VatTu" class="tabcontent">
        <table>
            <thead>
                <tr>
                    <th>Tên hạng mục</th>
                    <th style="width: 40%;">Giá trị</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in GroupAttr">
                    <td>{{$index+1|threeDigitString}}. {{item.Name}} ({{item.Unit}})</td>
                    <td><input type="number" ng-model="bomDataModel.ListBom[$index].Quantity" value="0" id="inputValue"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    function increase() {
        var input = document.getElementById('numberInput');
        input.value = parseInt(input.value) + 1;
    }

    function decrease() {
        var input = document.getElementById('numberInput');
        input.value = parseInt(input.value) - 1;
    }
    function openTab(tabName) {
            var evt=$('.tablinks#'+tabName);
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            $('.tabcontent#' + tabName).css('display', 'block');
            evt.addClass("active");
        }
    openTab('NhapLieu')
</script>